$red: #b63c3c;
$blue: #007bff;
$lightblue: #05aefb;
$darkblue: #293644;
$gray: #757575;
$font-grey: #2c2b2b;
$green: #4a8d4f;
$green2: #5cb19c;
$vue-green: #41b883;


$primary: $red;
$secondary: $green;

$box-shadow-1: 0px 0px 7px $gray;